#logo {
  height: 40px;
  margin-left: -8px;
}


img[src*="screen-img"] {
  width: 100%;
  margin-bottom: 8px;
}

.container__title {
  font-size: 24px;
  border-bottom: 1px solid var(--border-subtleAlpha01);
  padding-bottom: 4px;
}
